# Puerto del Servidor
PORT=3000

# Conexión a Base de Datos PostgreSQL (Neon Cloud)
DATABASE_URL=postgresql://usuario:password@ep-xyz.region.aws.neon.tech/neondb?sslmode=require
NODE_ENV=development

# Autenticación JWT y Ciberseguridad
JWT_SECRET=super_secreto_nutriscan_calidad_40_token_seguro_2026
JWT_EXPIRES_IN=8h
